.number_effect{
    font-size: 200px;
    font-weight: 700;
}
.container{
    display: flex;
    
    margin: 100px;
}
.content{
    display: block;
    align-items: center;
}
.content h1{
    font-size: 100px;
}