.number_effect{
    font-size: 500px;
    font-weight: 1000px;
}
.container{
    display: flex;
    
    margin: 50px;
    margin-top: 5px;
}
.content{
    display: block;
    align-items: center;
}
.content h1{
    font-size: 100px;
}